.navbar {
  height: 70px;
  background-color: black;
  border-bottom: 1px solid blue;
}

.navbar_container {
  float: right;
  padding: 1rem;
}
.logo_container {
  text-decoration-color: blue;
  background-color: beige;
  float: left;
}
.navbar-action-buttons{
  display: flex;
  gap: 1rem;
}