@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
:root {
  --dark-black: #161616;
  --light-black: #1d1e1f;
  --white-color: #f4f4f4;
  --font-family: "IBM Plex Sans", sans-serif;
}
html,
#root,
body {
  height: 100%;
}
body {
  font-family: var(--font-family);
  background-color: var(--dark-black);
  color: var(--white-color);
}
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  height: 10px; /* Adjust the height as needed */
}

::-webkit-scrollbar-track {
  background-color: var(--dark-black);
}

::-webkit-scrollbar-thumb {
  background-color: #404143;
  border-radius: 10px;
}

/* Firefox */
::-moz-scrollbar {
  height: 10px; /* Adjust the height as needed */
}

::-moz-scrollbar-track {
  background-color:#404143;
}

::-moz-scrollbar-thumb {
  background-color: #404143;
  border-radius: 10px;
}

/* IE, Edge */
/* Please note that IE and Edge do not support customizing the scrollbar appearance */

